<div class="graciasDiv">
    <div class="privacidadDiv">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                <section class="mb-10 overflow-hidden">
                    <!-- Background image -->
                    <div class="px-4 py-5 px-md-5 text-center bg-image"
                        style="background-image: url(/assets/images/personal.jpg); height: 500px; background-size: cover; background-position: 50% 50%;"
                        aria-controls="#picker-editor">
                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.507)">
                            <div class="container h-100">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-lg-10">
                                        <div class="text-white pb-5">
                                            <h1 class="my-md-5 mb-4 px-5 display-3 fw-bold ls-tight"> <span>Gracias por
                                                    contactarnos</span> <span class="">&nbsp;</span> </h1>
                                            <hr>
                                            <h4>En breve estaremos contigo</h4> <br>
                                            <a class="btn  btn-outline-light btn-lg btn-rounded py-3 px-5 mb-2 mb-md-0 me-md-2"
                                                href="/inicio" role="button" aria-controls="#picker-editor">Volver a
                                                inicio</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=""
                        style=" height: 30px; margin-top: -30px; transform: scale(2); transform-origin: top center; color: #fff; ">
                        <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
                                fill="currentColor"></path>
                        </svg>
                    </div> <!-- Background image -->
                </section>
            </section>
            <!---->
        </div>
        <div data-draggable="true" style="position: relative;" id="productos">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5 serviciosDiv" data-v-271253ee="">
                <section class="mb-5 text-center">
                    <h2 class="fw-bold mb-7 text-center">Nuestra amplia oferta</h2>
                    <div class="row gx-lg-5">
                        <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                            <div class="card shadow-2-strong">
                                <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                    data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                        src="/assets/images/seriesUma.jpg" class="img-fluid" alt=""
                                        aria-controls="#picker-editor"> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Series UMA</h5>
                                    <hr style="color:height:3px;" class="text-primary">
                                    <p class="card-text">Unidades Manejadoras de Inyecci칩n de Aire. <br>
                                        <span><a href="https://drive.google.com/file/d/10I4jBvwsVo-9sLLtlyG14HlpiIcrQOZz/view?usp=sharing"
                                                target="_blank">Ver cat치logo descriptivo</a></span>
                                    </p>
                                    <a href="#contacto" class="btn ch-bg text-black btn-warning btn-rounded"
                                        aria-controls="#picker-editor">Cotizar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card shadow-2-strong">
                                <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                    data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                        src="/assets/images/series300.jpg" class="img-fluid" alt=""
                                        aria-controls="#picker-editor"> </div>
                                <div class="card-body">
                                    <h5 class="card-title">SERIES 300</h5>
                                    <hr style="color:height:3px;" class="text-primary">
                                    <p class="card-text">Ventiladores tipo Vaneaxial y Tuboaxial. <br>
                                        <span><a href="https://drive.google.com/file/d/14KGp-rl_DAXFTc5RyLdOXnqt23-3vuvn/view?usp=sharing"
                                                target="_blank">Ver cat치logo descriptivo</a></span>
                                    </p> <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                        aria-controls="#picker-editor">Cotizar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card shadow-2-strong">
                                <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                    data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                        src="/assets/images/series400.jpg" class="img-fluid" alt=""
                                        aria-controls="#picker-editor"> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Series 400 || Entrada sencilla & doble.</h5>
                                    <hr style="color:height:3px;" class="text-primary">
                                    <p class="card-text">Aspas radiales para trabajo pesado. <br>
                                        <span><a href="https://drive.google.com/file/d/1NQa7YBRockjQnZjptfbe6OSWO-6VFre8/view?usp=sharing"
                                                target="_blank">Ver cat치logo descriptivo</a></span>
                                    </p>
                                    <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                        aria-controls="#picker-editor">Cotizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>