<div data-draggable="true" style="position: relative;">

</div>
<div data-draggable="true" style="position: relative;" id="productos">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5 mb-10" data-v-271253ee="">
        <section class="mb-5 text-center">
            <div class="titleOf  mb-7">
                <h2 class="fw-bold mb-3 text-center">Nuestros productos</h2>
                <button type="button" class="btn btn-dark btn-rounded"
                    onclick="location.href='/inicio';">Inicio</button>
            </div>

            <div class="row gx-lg-5 mb-7">
                <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/seriesUma.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series UMA</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Unidades Manejadoras de Inyección de Aire. <br>
                                <span><a href="https://drive.google.com/file/d/10I4jBvwsVo-9sLLtlyG14HlpiIcrQOZz/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p>
                            <a href="#contacto" class="btn ch-bg text-black btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/series300.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">SERIES 300</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Ventiladores tipo Vaneaxial y Tuboaxial. <br>
                                <span><a href="https://drive.google.com/file/d/14KGp-rl_DAXFTc5RyLdOXnqt23-3vuvn/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/series400.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series 400 || Entrada sencilla & doble.</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Aspas radiales para trabajo pesado. <br>
                                <span><a href="https://drive.google.com/file/d/1NQa7YBRockjQnZjptfbe6OSWO-6VFre8/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p>
                            <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-7">
                <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/series3000.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series 3000</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Aspas planas inclinadas
                                hacia atrás tipo “B”. <br>
                                <span><a href="https://drive.google.com/file/d/1Yk-rA2mM_kciYV1UWdytWI5breufVsUj/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn ch-bg text-black btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/series8000.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series 8000</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Aspas aerodinámicas. <br>
                                <span><a href="https://drive.google.com/file/d/1qWvEfFJ93OntM6Zf9ROekmSHAdoMn7MU/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/aesaflex.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series AESAFLEX</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Ventiladores Vaneaxiales de Aspas Ajustables. <br>
                                <span><a href="https://drive.google.com/file/d/1Lm_QFcAKOdK7TP7YkuDC3nhKoJHTTUQm/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p>
                            <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-7">
                <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img src="/assets/images/basp.jpg"
                                class="img-fluid" alt="" aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series BAS-P</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Ventiladores Basculantes Portátiles. <br>
                                <span><a href="https://drive.google.com/file/d/1jQ3cvSSS3SMr2pukCEAjRvcpzuNbJb_S/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn ch-bg text-black btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img src="/assets/images/ca.jpg"
                                class="img-fluid" alt="" aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series CA</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Cuchillos de Aire. <br>
                                <span><a href="https://drive.google.com/file/d/18D_S0wjDgN2mQFEJPJ65PrBGOi6O_Env/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img src="/assets/images/cfd.jpg"
                                class="img-fluid" alt="" aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">CFD</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Ventiladores diseño CFD. <br>
                                <span><a href="https://drive.google.com/file/d/19XnHnVnBYVdXUItuPlMz04MrX4zY4cbs/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p>
                            <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-7">
                <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/compuertas.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Compuertas de control</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Para control de flujo en ductos. <br>
                                <span><a href="https://drive.google.com/file/d/1WPHIp9AIAmXECG-sH4_1CluWQ-rKvaKK/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn ch-bg text-black btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img src="/assets/images/cyclo.jpg"
                                class="img-fluid" alt="" aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Colectores de polvo tipo cartucho</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Series Cyclo. <br>
                                <span><a href="https://drive.google.com/file/d/16JJHPJzxo-YHAkMbRZUOnXf1B3EANRDl/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/ductos.jpg" class="img-fluid" alt="" aria-controls="#picker-editor">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">DUFLEX</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Ductos flexibles. <br>
                                <span><a href="https://drive.google.com/file/d/1Kl5P7PeDiuJ9VW91mYT2kAyAllPPy7i5/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p>
                            <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-7">
                <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img src="/assets/images/evac.jpg"
                                class="img-fluid" alt="" aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series EVAC</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Eductores. <br>
                                <span><a href="https://drive.google.com/file/d/1PMux2XsUL1sAzMyoCW1ratJ9jGKBL9qu/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn ch-bg text-black btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/liaflex.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">LIAFLEX</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Juntas de expansión series Jt. <br>
                                <span><a href="https://drive.google.com/file/d/18969EmY0SGjCInNHQEIRgcgoL2HR2_tH/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/seriespl.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series PL.</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Aspas planas inclinadas hacia atrás tipo “B”. <br>
                                <span><a href="https://drive.google.com/file/d/1-90F7XZ1-9emtvRh64mRRhzI2ztIeHSj/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p>
                            <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 mb-7">
                <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/silenciadores.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Silenciadores</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Series SR & SC. <br>
                                <span><a href="https://drive.google.com/file/d/17-FPAtxdmrBYU67HJiLKvW6RMuBdYFBf/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn ch-bg text-black btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                    <div class="card shadow-2-strong">
                        <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                            data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                src="/assets/images/turboSopladores.jpg" class="img-fluid" alt=""
                                aria-controls="#picker-editor"> </div>
                        <div class="card-body">
                            <h5 class="card-title">Series TSC</h5>
                            <hr style="color:height:3px;" class="text-primary">
                            <p class="card-text">Turbosopladores Centrifugos de un paso. <br>
                                <span><a href="https://drive.google.com/file/d/1jilmyhtVMpkAxecZEdwOURFuNQ3iKRdb/view?usp=sharing"
                                        target="_blank">Ver catálogo descriptivo</a></span>
                            </p> <a href="#contacto" class="btn text-black ch-bg btn-warning btn-rounded"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-6 mb-lg-0">
                  
                </div>
            </div>
        </section>
    </section>
    <!---->
    <div id="contacto">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style> <!-- Background image -->
                    {{!-- <div class="p-5 bg-image"
                        style="background-image: url(/assets/images/abrigoRojo.jpg); height: 373px; background-size: cover; background-position: 50% 6%;"
                        aria-controls="#picker-editor"></div> <!-- Background image --> --}}
                    <div class="card mx-4 mx-md-5 shadow-5-strong"
                        style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                        <div class="card-body py-5 px-md-5">
                            <div class="row text-center">
                                <h3>COTIZA CON NOSTROS</h3> <br> <br> <br>
                            </div>
                            {{!-- <div class="row mb-5 redeSocialesDiv2">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Facebook -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                                        href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Twitter -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;"
                                        href="#!" role="button"><i class="fab fa-twitter"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Instagram -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;"
                                        href="#!" role="button"><i class="fab fa-instagram"></i></a>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Linkedin -->
                                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;"
                                        href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div> --}}
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                                class="form-control formInput" name="email" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Correo electrónico</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Producto de interés</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto política de privacidad
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  btn-dark btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>