.fonts3 {
    font-family: 'Roboto', sans-serif !important;

}

.pointer {
    cursor: pointer;
}

.logoImageDavid {
    max-width: 18% !important;
}

.serviciosDiv {
    margin-top: -7%;
}

.valueProposition {
    margin-top: -3%;
}

.bgLightGrey {
    background-color: rgb(247, 247, 247);
}

.shadowEffect {
    text-shadow: 2px 2px 4px #000000;
}

.centerD {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spaceDivSastre {
    height: 22rem;
    background-image: url("/assets/images/aspas2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 59% */
}

.airEquiposLogo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.procesoTrabajoDiv {
    margin-top: -6.9% !important;
}

.overlaySastre {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    padding-top: 7%;
}
.youTubeRatio{
    margin-bottom: 10%;
}

.ch:hover {
    color: #D42930 !important;
}

.ch-bg:hover {
    background-color: #D42930 !important;
}

@media(min-width:992px) {
    .res-Black {
        color: white !important;
    }

    .cascading-right {
        margin-right: -50px;
    }

    .rotate-lg-6 {
        transform: rotate(6deg);
    }

    .davidHacherStory {
        margin-bottom: 7%;
    }

    .redeSocialesDiv {
        display: none !important;
    }

}

@media(max-width:991px) {
    .procesoTrabajoDiv {
        margin-top: -31% !important;
    }

    .somethinReallyBlue {
       padding-top: 7%;
       padding-bottom: 7%;
       background-color: #2454ac;
       
    }
    .card2Bg{
        margin-top: -20%;
    }
    #contacto {
        margin-top: 16% !important;
    }

    .somethingSvg {
        display: none !important;
    }
   

    .cuadroC {
        
        position: relative;
        top: -10rem;
        margin-bottom: -40% !important;
    }

    .centerD {
        width: 280px !important;
    }

    .res-Black {
        color: black !important;
    }

    .logoImageDavid {
        max-width: 48% !important;
    }

    .serviciosDiv {
        margin-top: -31%;
    }

    .valueProposition {
        margin-top: -45%;
    }

    .overlaySastre {
        padding-top: 15%;
    }

    .spaceDivSastre {
        margin-top: -15%;
        height: 16rem;
    }
}